# Compiled files.
*.class

# Log files.
*.log

# SBT-specific files.
.cache/
.history/
.lib/
dist/*
**/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE/Editors-specific files.
.scala_dependencies
.worksheet
.idea/